.row.col-5{
    justify-content: center;
    margin:auto;
    position:relative; right:100px; top:2px;
    background-image: url("images/po2.jpg");

}


h1{
    justify-content: center;
    margin:auto;
    position:relative; left:100px; top:2px;
}

body{
    background-image: url("images/po2.jpg");
}